<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
	<script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <title>{% block title %}Paperwork{% endblock %}</title>
</head>
<body>
	<header>
		<nav class="nav main-nav">
			<h1><a href="{{ url_for('views.home') }}">Paperwork</a></h1>
			<a href="{{ url_for('views.about') }}">About</a>
			<div class="dropdown">
				<button class="nav-hover-btn" type="button">Formulaires</button>
				<div class="nav-hover-list">
					<a href="{{ url_for('forms.reimbursement_form') }}">Remboursement</a>
					<a href="{{ url_for('forms.km_form') }}">Kilométrage</a>
				</div>
			</div>
			<span class="user-profile">
				{% if g.user %}
					<span>{{ g.user["cip"] }}</span>
					<a href="{{ url_for('auth.logout') }}">Se déconnecter</a>
				{% else %}
					<a href="{{ url_for('auth.login') }}">Se connecter</a>
					<a href="{{ url_for('auth.register') }}">S'inscrire</a>
				{% endif %}
			</span>
		</nav>
	</header>

	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for message in messages %}
				<div class="flash">{{ message }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<section class="content">
		{% block content %}
		<p>This is the base page. This shouldn't appear.</p>
		{% endblock %}
	</section>
	{% block javascript %}
	{% endblock %}
</body>
</html>