html {
    font-size: 100%;
}

select, textarea, input, button {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
}

@media print {
    body {
      font-size: 8pt;
    }
}

.header {
    display: flex;
    width: 100vw;
    margin: 1rem;
    gap: 1.5rem;
}

#form-title, #revision-date {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-block: 0.5rem;
}

input { /* formatting of entry fields */
    background-color: whitesmoke;
    border: none;
    outline: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.entitySelect {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button {
    display: flex;
    width: 100vh;
    justify-content: center;
    align-items: center;
}

#purchaseAmount, #purchaseAmountCAD {
    width: 4rem;
}

#otherCurrency {
    width: 2.25rem;
}
