{% extends "base.html" %}
{% block title %}Paperwork | Se connecter{% endblock %}
{% block content %}
<h3 class="page-title-container">Se connnecter</h3>
<form class="ageg-form auth-form" action="{{ url_for('auth.login') }}" method="POST">
	<div class="field-container">
		<label for="cip">CIP</label>
		<input id="cip" type="text" name="cip" maxlength="8" placeholder="ageg2024" pattern="[a-z]{4}\d{4}" required>
	</div>
	<div class="field-container">
		<label for="password">Mot de passe</label>
		<input id="password" type="password" name="password" required>
	</div>
	<div class="form-buttons">
		<button>
			<a href="{{ url_for('auth.register') }}">S'inscrire</a>
		</button>
		<button id="login-btn" type="submit">Se connecter</button>
	</div>
</form>
{% endblock %}